<!doctype html>
<html>
	<head>
		<title>Mount Chatbot</title>
		<link rel="icon" href="data:,">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="{{ url_for('static', filename='app.js') }}" defer></script>
	</head>
	<body>
		<div class="container">
			<div id="header">
				<h1>Mount Chatbot</h1>
				<h2>Get help for anything related to Mount St. Mary's University</h2>
			</div>

			<div id="content"></div>

			<form method="POST" action="/">
				{{ form.csrf_token }}
				{{ form.query }}
				{{ form.submit }}
			</form>
		</div>
	</body>
</html>